{% extends "base.html" %}
{% block images %} 
   <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      	<h1 class="page-header">Images</h1>
    	<div class="panel panel-default panel-info">
			<div class="panel-body">
				Status: Running
				<p>
				Date: 04/01/2015
			</div>
		</div>
		
		{% block buttonsImageForm %}{% endblock buttonsImageForm %}
		{% block imagesForm %} {% endblock imagesForm %}
		{% block infoImages %} {% endblock infoImages %}	

{% endblock images %}

	
